[flake8]
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    venv,

extend-ignore =
    # Spaces in keyword/parameter equals
    E251,
    # Missing spaces around parameter equals (default values)
    E252,
    # Lines too long
    # E501,
