[flake8]
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    venv,

extend-ignore =
    # Lines too long
    # E501,
    # Spaces in keyword/parameter equals
    E251,
    # Missing spaces around parameter equals (default values)
    E252,
    # Whitespace in middle of braces like { this }
    E201,
    E202,
